Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
pynac-config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
ginac/.deps/
ginac/.libs/
ginac/Makefile
ginac/Makefile.in
ginac/*.la
ginac/*.lo
ginac/*.o
ginac/*.orig
ginac/*.rej
ginac/*.swp
ginac/pynac-config.h
ginac/version.h
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
pynac*tar.bz2
pynac*tar.gz
stamp-h1
